@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

:root {
  /*   ##primary-color */
  --primary-dark: #172339;
  --primary-gray: #49566d;
  --primary-light: #f3ede7;
  --primary-white: #faf8f6;

  --secondary-purple: #a060ff;
  --secondary-pink: #cb30e3;
  --secondary-orange: #ffa84e;
}
body {
  font-family: "Epilogue", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 12px auto 0;
  padding: 0 12px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 92px;
}

.first-main {
  margin-bottom: 77px;
}

.main-title {
  font-size: 4rem;
  font-weight: normal;
  position: relative;
}

.main-title span {
  font-weight: bold;
}

.main-title::after {
  position: absolute;
  content: url(./assets/pattern-curved-line-1.svg);
  top: -53px;
  left: 0;
  background-size: 12px;
}

.main-description {
  margin-top: 30px;
  margin-bottom: 34px;
  font-size: 2.2rem;
  line-height: 1.3;
  color: var(--primary-gray);
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 20px;

  align-items: center;
  margin-top: 53px;
  margin-bottom: 211px;
}
.status ul {
  list-style: none;
  text-align: center;
}
.status ul li {
  margin-bottom: 12px;
}

.number {
  font-weight: bold;
  font-size: 4rem;
}
.status-name {
  color: var(--primary-gray);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
}

.btn {
  text-decoration: none;
  padding: 20px 14px;
  border-radius: 10px;
  font-size: 1.7rem;
  display: inline-block;

  font-weight: bold;
  transition: all 0.3s;
}
.btn-primary {
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.btn-primary:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-pink),
    var(--secondary-orange)
  );
  color: var(--primary-white);
}

.btn-secondary {
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}
.btn-secondary:hover {
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.testimonial {
  background-color: var(--primary-dark);
  color: var(--primary-white);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.test-img {
  transform: translateY(-152px);
}

.test-header {
  font-size: 4.2rem;
  font-weight: 100;

  letter-spacing: -1px;
}
.test-header span {
  font-weight: bold;
}

.test-paragraph {
  font-size: 19px;
  margin-top: 50px;
  line-height: 1.5;
  color: var(--primary-light);
  padding: 0 12px;
}

.test-name {
  margin-top: 29px;
  text-transform: uppercase;
  font-size: 22px;
}
.test-place {
  font-size: 22px;
  margin-top: 13px;
  letter-spacing: 2px;
  margin-bottom: 68px;
  color: var(--primary-light);
}

.divider-img img {
  transform: translateY(-58px);
}

footer {
  background-color: var(--primary-light);
  padding: 0;
  width: 100%;
  height: 670px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.icon {
  cursor: pointer;
}

.icon:hover {
  fill: var(--primary-gray);
}

.social-media svg {
  margin-left: 12px;
}

.footer-logo {
  width: 144px;
}
.copyright {
  font-size: 25px;
  color: var(--primary-gray);
}

.social-media img {
  margin-right: 12px;
  height: 30px;
  cursor: pointer;
}

@media (min-width: 659px) {
  main {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 63px;
  }

  .first-main {
    width: 50%;
  }
  .second-main {
    width: 50%;
  }

  .main-title {
    font-size: 7rem;
    font-weight: normal;
    position: relative;
    width: 627px;
    /*   background: wheat; */
  }
  .main-title::after {
    left: 291px;
  }
  .main-description {
    line-height: 1.5;
  }

  .status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 100px;
  }
  .number {
    font-weight: bold;
    font-size: 8rem;
  }

  .status ul li {
    margin-bottom: 12px;
  }
  .status-name {
    font-size: 1.9rem;
  }
}

@media (min-width: 1366px) {
  .test-paragraph {
    width: 403px;
    line-height: 1.7;
  }

  .test-img img {
    margin-right: 48px;
  }

  .divider-img img {
    margin-right: 42px;
    margin-top: 92px;
  }
  .container {
    padding: 0px 117px;
  }

  .second-main img {
    margin-left: -43px;
  }
  .large-container {
    display: flex;
    flex-direction: row;
  }

  .status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .number {
    font-size: 4rem;
  }

  .test-img {
    transform: translateY(0px);
  }

  .testimonial {
    flex-direction: row;
    justify-content: center;
    margin-top: 112px;
    transform: translateY(91px);
  }

  .testimonial-body {
    text-align: left;
    margin-top: 133px;
  }
  footer {
    flex-direction: row;
    height: 348px;
  }
}
